#nav{
  width: 30%;
}

.left{
  text-align: left;
}

.right{
  text-align: right
}
.center{
  text-align: center;
}
.big{
  font-size: 34px;
}
.tablecenter {
  margin-left:auto;
  margin-right:auto;
}

@font-face {
  font-family: Wood;
  font-style: normal;
  font-weight: 400;
  src: url("Wood.ttf") format("truetype");
}

#menupaper{
  background-image: url(Paper.jpg);
  background-repeat: repeat;
}
