#nav{
  width: 30%;
  font-family: Wood;
}

.left{
  text-align: left;
}

.right{
  text-align: right
}
.center{
  text-align: center;
}
.big{
  font-size: 60px;
}
.tablecenter {
  margin-left:auto;
  margin-right:auto;
}

@font-face {
  font-family: Wood;
  font-style: normal;
  font-weight: 400;
  src: url("Wood.ttf") format("truetype");
}

#menupaper{
  background-image: url(Paper.jpg);
  background-repeat: repeat;
}
a{
  font-family: Wood;
  font-weight: normal;
  text-decoration:none;
}
a:link{
  color: blue;
}
a:visited{
  color: purple;
}
a:hover{
  font-weight: bolder;
}
a:active{
  text-decoration: none;
}
