body{
  background-color: black;
}

#Tracklist{
  border-collapse: collapse;
   width: 80%;
   padding: 8px;
   border-bottom: 1px solid #ddd;
   color: white;
}

#whitetext{
  color: white;
}

li {
  font-variant: small-caps;
  font-size: 22px;
}

td{
  text-align: center;
}
