body{
  background-color: #010101;
}

#Tracklist{
  border-collapse: collapse;
   width: 80%;
   padding: 8px;
   border-bottom: 1px solid #ddd;
   color: white;
}

#whitetext{
  color: white;
}

li {
  font-variant: small-caps;
  font-size: 22px;
  font-style: italic;
}

td{
  text-align: center;
}

@font-face {
  font-family: goodTimes;
  font-style: normal;
  font-weight: 400;
  src: url("goodtimes.ttf") format("truetype");
}

#AlbumArt{
  display: block;
  background: url("https://f4.bcbits.com/img/a3577237463_16.jpg") no-repeat top;
  height: 650px;
}
a{
  font-family: monospace;
  font-weight: normal;
  text-decoration:none;
}
a:link{
  color: blue;
}
a:hover{
  text-decoration: underline;
  background-color: white;
}
a:active{
  font-weight: bold;
}

.italme{
  font-style: italic;
}
